.img-size{
    height: 45vw !important;
    top: -110px;
   
}
.carousel-caption{
    padding-bottom: 15.25rem !important;
} 

.carousel-inner{
    background: #1D1D1D !important;
}
.btn-slide:hover{
 background-color: orange !important;
}

.card-body{
    width: 100% !important;
    
}
.icon{
    width: 15%;
    background-color: orange ;
    padding: 10px;
    position: static;
    left: -10px;
    border-radius: 50%;
    
}
.card-body i{
    position: relative;
  
}
@media  only screen and (min-width: 200px) and (max-width: 991px) { 
    .carousel-caption{
        top: 2.25rem !important;
    }
 }