/*font*/
body{
  font-family: 'Open Sans', sans-serif;
  color:  #364d59;
}

/*navbr*/
.navigation a::before{
  content: '';
  position: absolute;
  transform: scaleX(0);
  border-radius: 5px;
  transition: all 0.3 ease-in-out;
}
.navigation a:hover{
  transform: scaleX(1);
  border-bottom: 3px solid rgb(247, 207, 134);
  transition:all 0.5 ease-in-out;
  
}

.img-size{
    height: 45vw !important;
   
   
}
.carousel-caption{
    padding-bottom: 15.25rem !important;
} 

.carousel-inner{
    background: #1D1D1D !important;
}
.slide-ber-size{
    width: 10%;
}
.btn-slide{
  transition: 0.5 ease-in-out;
}
.btn-slide:hover{
 background-color: orange !important;
}

.card-body{
    width: 100% !important;
    
}
/*service icon*/
.color-bar{
  background-color: rgb(211, 204, 204);

}
.service-card:hover .color-bar,
.service-card:hover .service-icon::before{
  background-color:#feb900;

}
.service-icon::before{
    position: absolute;
    content: "";
    height: 13%;
    width: 15%;
    background: #f0f1f2;
    border-radius: 50px;
    z-index: 1;
    top: 65px;
    left: 45px;
    transition: 0.3s;
    
}
.service-icon i{
    color:#52565e;
  font-size: 40px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
  line-height: 1.8;
}/*end*/
.fa-solid{
    position: relative;
    left: 10px;
}



.bar-size6{
    width: 70%;
}
.bar-size5{
    width: 55%;
}
.bar-size4{
    width: 68%;
}
.bar-size3{
    width: 35%;
}
.bar-size2{
    width: 50%;
}
.bar-size1{
    width: 45%;
}
@media  only screen and (min-width: 200px) and (max-width: 991px) { 
    .carousel-caption{
        top: 2.25rem !important;
    }
 }
 /*enim*/
 .icon-div{
  color: #feb900;
 }
 .quis:hover .icon-div{
  background-color: #feb900;
  transition: 0.5s ease-in-out;
  color: #f6f8fa;
  
 }
 
 .quis:hover h5{
  color: #feb900;
 }
 /*feature*/
 .features .nav-tabs {
    border: 0;
  }
  
  .features .nav-link {
    padding: 15px 0;
    transition: 0.3s;
    color: #52565e;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 4px solid #e2e4e6;
  }
  
  .features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  @media (max-width: 575px) {
    .features .nav-link h4 {
      font-size: 16px;
    }
  }
  
  .features .nav-link:hover {
    color: #feb900;
  }
  
  .features .nav-link.active {
    color: #feb900;
    background-color: transparent;
    border-color: #feb900;
  }
  
  .features .tab-content {
    margin-top: 30px;
  }
  
  .features .tab-pane h3 {
    font-weight: 700;
    font-size: 32px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .features .tab-pane h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background:  #feb900;
    left: 0;
    bottom: 0;
  }
  
  .features .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .features .tab-pane ul li {
    padding-top: 10px;
  }
  
  .features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--color-primary);
  }
  
  .features .tab-pane p:last-child {
    margin-bottom: 0;
  }
/*end*/
/*project*/
.pro-card{
  background-color:#1D1D1D ;
  -webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
  display: block;
  overflow: hidden;
}
.pro-card:hover img{
    opacity: 25%;
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
    transition: 0.5s;
    
}
/*blog*/
.post-date{
  position: absolute;
  background-color: #feb900;
  text-transform: uppercase;
  right: 0;
  bottom: 0;
}
.blo-card{
 
  -webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
  display: block;
  overflow: hidden;
  
}  
.blog:hover .blo-card img{
  
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
   transition: 0.5s;
}
.blog:hover  h4,
.blog:hover .read{
  color: #feb900;
}
/*testomonial*/
.testimonial-img{
    position: relative;
    top: 0px;
    right: 100px;
    z-index: 1;
}
.testi-head{
    right: 80px;
    top: 0px;
    position: relative;
} 
/*footer*/
.bg-image{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(./img/footer-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image::before{
  background-size: cover;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55)
}


